.projects{
 //button filter
 .buttons-filter{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  @media (max-width:550px) {
   justify-content: center;

  }
  button{
   border: 1px solid ; 
   margin: 4px;
   padding: 5px 20px;
   color: var(--font);
  }
  .active{
   border:1px solid var(--primary-color);
   color: var(--primary-color);
  }
 
 }
 .menu{
   
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 880px) {
   flex-direction: column;

  }


 }

 .menu-item{

  flex-wrap: wrap;
  width: 50%;
  margin: 30px ;
  position: relative;
  gap: 40px;

  img{
   width: 359.5px;
  }
  @media (max-width: 880px) {
   width: 100%;
   flex-direction: column;
   img{
    width: 280px;
   }
  }



  


  //arrow Carousel
  .rec-pagination{
   display: none;
  }
  .rec-arrow{
   text-align: center;
   z-index: 5;
  }
  @media (max-width: 580px) {
   .rec-arrow-right{
    position: absolute;
    right: 0px;
   }
   .rec-arrow-left{
    position: absolute;
    left: 0px;
   }
  }

  .eAyARa ,.eWjCzc{
   background: #FFFFFF78 var(--primary-color) 5% 80% no-repeat padding-box;
   opacity: 1;
   backdrop-filter: blur(30px);
   -webkit-backdrop-filter: blur(30px);
   font-size: 1.2em;

   &:hover{
    background-color: var(--primary-color);
   }
  }


 }
}