%glopal-flex{
 display: flex;
 align-items: center;
 justify-content: center;
}

.container{
 @extend %glopal-flex;


 overflow: hidden;
 .left-about{
  width: 50%;
  margin-right: 20px;
  h3{
   position: relative;
   &::after{
    content: "";
    position: absolute;
    left: -135px;
    width: 120px;
    top: 11px;
    height: 4px;
    background-color: var(--primary-color);
   }
  }
  h2{
   color: var(--primary-color);
   margin:8px 0;
  }
  p{
   color: var(--font);
   
  }
  button{
   background-color: white;
   color: var(--primary-color);
   border:1px solid var(--primary-color) ;
   font-weight: bold;
   &:hover {
    background-color: var(--primary-color) !important;
    color: white;
   }
  }
 }
 .right-about{
  position: relative;
  &::after{
   content: url('../../../assets/twopars.svg');
   height: 100%;
   position: absolute;
   top: 40px;
   right: -158px;
   z-index: -1;
  }
  video{
   height: 531px;
   width: 506px;
   z-index: 1;
   margin: 0 20px;
  }
 }
 //media smale screen
 @media (max-width: 1091.98px) { 
  flex-direction: column;
  margin-top: 30px;
  .left-about{
   width: 100%;
   margin-right: 0px;
   p{
    padding: 0;
   }
  }
  .right-about{
   &::after{
    right: 0px;

   }
  }
  }
  
}