$tops: 20px 30px 40px ;
$lines: line1 line2 line3 ;

.main-counter{
 overflow: hidden;
 background: url("../../assets/bg-counter.svg");
 @each $line in $lines {
  .#{$line}{
    width: 100%;
    position: relative;
    
    &::after{
     content: "";
     position: absolute;
     width: 1000px;
     height: 3px;
     background-color: var(--font);
   }

  }
  
 }
 span:nth-child(1){
  top: 15px;
  left: 0px;
  
 }
 span:nth-child(2){
  top: 35px;
  left: 500px;
 }
 span:nth-child(3){
  top: 55px;
  left: 1000px;
 }
 .container{
 height: 380px;
 display: flex;
 justify-content: space-between;
 text-align: center;
 flex-wrap: wrap;
 color: white;
 div{
  h1{
   font-size: 50px;
  }

 }
 @media (max-width:850px) {
  height: 100%;
  padding: 20px 0;
  div{
   margin: 15px 0;
   h1{
    font-size: 35px;
   }
   h2{
    font-size: 18px;
   }
  }

 }
}

}