
$lines : (
  line1 : (
    top :15px,
    left : 0
  ) ,
  line2 : (
    top :35px,
    left :500px
  ) ,
  line3 : (
    top :55px,
    left :1000px
  ) 

);
.main-counter{
 overflow: hidden;
 background: url("../../assets/bg-counter.svg");
 @each $name , $size in $lines {
  .#{$name}{
    width: 100%;
    position: relative;
    &::after{
     content: "";
     position: absolute;
     width: 1000px;
     height: 3px;
     background-color: var(--font);
     top: map-get($size , top);
     left: map-get($size, left );
   }

  }
  
 }

 //content sectios
 .container{
 height: 380px;
 display: flex;
 justify-content: space-between;
 text-align: center;
 flex-wrap: wrap;
 color: white;
 div{
  h1{
   font-size: 50px;
  }

 }
 @media (max-width:850px) {
  height: 100%;
  padding: 20px 0;
  div{
   margin: 15px 0;
   h1{
    font-size: 35px;
   }
   h2{
    font-size: 18px;
   }
  }

 }
}

}