
.main-header{
 background-color: var(--secound-color-pold);
 overflow: hidden;
 
 .header{
 height: #{100vh-8vh};
 @media (max-width:576px) {
 
  height: #{100vh-9vh};
 }
 position: relative;
  .left-header{
   width: 550px;
   color: white;
   position: absolute;
   top: 35%;
   transform: translateY(-45%);
   z-index: 1;
   span{
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
   }
   p{
    margin-top: 25px;
    color: var(--font);
   }
   button{
    box-shadow: 0px 12px 40px #FF990059;
   }
   @media (max-width:576px) {
    width: 100%;
    padding: 10px;
    top: 85px;
    transform: translateY(0);
    span{
     font-size: 30px;
     line-height: 50px;
    }
    p{
     font-size: 17px;
     margin-top: 10px;
    }
    button{
     margin-top: 20px;
    }
   }
   @media (max-width:360px) {
    span{
     font-size: 20px;
    }
    p{
     font-size: 12px;
    }
  }
  }

  .right-header{
    .right{
      right: 0%;
    }
    .left{
      left: 0;
    }
   img{
    width: 903px;
    height: 652px;
    position: absolute;
    bottom: 0;

    @media (max-width: 1300px){
     width: 700px;
     height: 500px;
    }
    @media (max-width:576px) {
     width: 410px;
     height: 400px;
    }
    @media (max-width:360px) {
     width: 350px;
     height: 280px;
   }



   }
  }
 }
}