
//font Poppins && Tajawal
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
$Poppins :'Poppins', sans-serif;
$Tajawal :'Tajawal', sans-serif;
$sans : "Cairo", sans-serif ;

//colors
:root{
--primary-color:#FF9900;
--secound-color:#24242E;
--secound-color-pold:#15141A;
--third-color:#465D71;
--third-color-opacity:#788897;
--background-color: #F6F6F6;
--shadow:0px 3px 32px $primary-color ;
--font: #707070;
--font-opacity: #00000029;
--white-color:#fff;
--black-color:#000000;
}

.en{
  font-family: $Poppins;
}
.ar{
  font-family: $sans
}
body{
 
 
 &::-webkit-scrollbar {
  width: 10px;
}

&::-webkit-scrollbar-track {
  background-color: var(--font-opacity);
}

&::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
  
}
 
}
html {
 scroll-behavior: smooth;
}
button{
 all: unset;
 cursor: pointer;
}
*{
 box-sizing: border-box;
 list-style: none;
 text-decoration: none;
 margin: 0;
 padding: 0;
  
}
.glopal-margin{
 margin: 50px 0;
}
//go ../components/glopal/DottedLine.js
.dotted-img{
 
  img{
    
    display: flex;
     margin: 0 auto ; 
     opacity: 0.7;
  }
}