.main-slider{
 height: 100%;
 .container{
  display: flex;
  justify-content: center;
  align-items: center;
  .left-slider{
   width: 40%;
   padding: 0 20px;
   @media (max-width:780px) {
    width: 100%;
    padding: 10px;
   }
   h1{
    color: var(--primary-color);
   }
   p{
    color: var(--font);
    line-height: 30px;

   }
  }
  .right-slider{

   padding: 0 20px;
   @media (max-width:780px) {

    padding: 10px;
   }
   img{
    height: 640px;
    width: 100%;
    z-index: 1;
    margin: 0 20px;
    @media (max-width:580px) {
      width: 350px;
      height: 450px;
      left: 0;
    }
  }
 }

 }
}