//varibales
%flex {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
%none {
 @media (max-width:880px) {
  display: none;
 }
}

//main style nav
.main-nav {
 background: transparent linear-gradient(180deg, #24242E 0%, #15141A 100%) 0% 0% no-repeat padding-box;
 font-family: 'Tajawal', sans-serif;
 position: sticky;
 left: 0;
 right: 0;
 top: 0;
 z-index: 100;
 .navbar {
  @extend %flex;
  color: var(--white-color);
  height: 80px;
  padding: 10px 0;

  .links {
   @extend %flex;
   @media (max-width:880px) {
    z-index: 10;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #15141A;
    position: fixed;
    top: 78px;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-880px);
    transition: 0.4s ease-in-out;
   }
   //toggle menue
   &--open{
    transform: translateX(0px);
   }
    //active class
   .active{
    position: relative;
    color: #FF9900;
    text-shadow: 0px 3px 15px var(--primary-color);
    transition: 0.4s;
    &::after{
     content: "";
     position: absolute;
     top: 88%;
     left: 50%;
     transform: translateX(-50%);
     background-color: var(--primary-color);
     width:5px;
     height:5px;
     border-radius: 50%;
     
    }

   }
   //Routes  
   ul {
    @extend %flex;
    @media (max-width:880px) {
     flex-direction: column;
    }

    a{
     color: white;
    }
    li{
     padding: 10px 5px;
     margin: 4px 15px;
     cursor: pointer;
     font-size: 18px;
     transition: 0.3s ease-in-out;
     position: relative;
     &:hover{
      @extend .active;
     }
    }
   }
  }
  //logo bader group
  .logo{
   margin: auto 0;
   padding: 5px 5px;
   background-color: var(--secound-color);
   z-index: 18;
   img{
    height: 100px;
    width: 42px;
   }
  }
  //two buttons
  .buttons{
   @extend %flex;
   @media (max-width:880px) {
    flex-direction: column;
   }

   button{
    margin:0px 15px;
    transition: 0.3s;
    @media (max-width:880px) {
     margin: 10px 0;
    }
    a{
     color: white;
     transition: 0.3s;
    }
     @extend %flex;
     padding: 5px 10px;
     border: 2px solid var(--white-color);
     border-radius: 20px;
     svg{
      color: white;
      margin: 0 5px;
      font-size: 21px;
      transition: 0.3s;
     }
    &:nth-child(2){
     padding: 5px 30px;
    }
    &:hover , &:hover svg ,&:hover a{
     color: var(--primary-color);
     border-color: var(--primary-color);
    }
   }
  }
  .menu-icon{
   display: none;
   .icon{
    font-size: 30px;
   }
   @media (max-width:880px) {
    display: block;
   }
  }

 }
}